<!DOCTYPE html>
{# 导入静态资源 #}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'lib/layui-v2.6.3/css/layui.css' %}"
          media="all">
    <link rel="stylesheet" href="{% static 'css/public.css' %}" media="all">
</head>
<body>
{# csrf 保护 #}
<form class="layui-form" style="width:80%;">
    {% csrf_token %}
    <input name="id" type="hidden" value="{% if cus.id %}{{ cus.id }}{% endif %}"/>

    <input id="city_id" type="hidden" value="{% if cus.city_id %}{{ cus.city_id }}{% endif %}"/>


    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="name" id="name" lay-verify="required"
                       value="{% if cus.name %}{{ cus.name }}{% endif %}"
                       placeholder="请输入客户名">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">法人</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="leader_of_company" id="leader_of_company"
                       lay-verify="required"
                       value="{% if cus.leader_of_company %}{{ cus.leader_of_company }}{% endif %}"
                       placeholder="请输入法人">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">城市</label>
            <div class="layui-input-block">
                <input type="hidden" id="cityName" name="cityName">
                <input type="text" class="layui-input"
                       name="area" value="{% if cus.area %}{{ cus.area }}{% endif %}"
                       placeholder="请输入区域">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">客户经理</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="cusManager"
                       value="{% if cus.cusManager %}{{ cus.cusManager }}{% endif %}"
                       placeholder="请输入客户经理">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">客户级别</label>
            <div class="layui-input-block">
                <select name="level" id="level">
                    <option value="">请选择</option>
                    <option value="普通客户"
                            {% if cus.level == '普通客户' %}selected{% endif %}>普通客户
                    </option>
                    <option value="重点开发客户"
                            {% if cus.level == '重点开发客户' %}selected{% endif %}>重点开发客户
                    </option>
                    <option value="大客户"
                            {% if cus.level == '大客户' %}selected{% endif %}>大客户
                    </option>
                    <option value="战略合作伙伴"
                            {% if cus.level == '战略合作伙伴' %}selected{% endif %}>战略合作伙伴
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">选择城市</label>
            <div class="layui-input-block">
                <select name="city_name" id="city_name">
                    <option value="0">请选择城市</option>
                </select>
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">信用度</label>
            <div class="layui-input-block">
                <select name="xyd" id="xyd">
                    <option value="">请选择</option>
                    <option value="☆" {% if cus.xyd == '☆' %}selected{% endif %}>☆
                    </option>
                    <option value="☆☆" {% if cus.xyd == '☆☆' %}selected{% endif %}>
                        ☆☆
                    </option>
                    <option value="☆☆☆"
                            {% if cus.xyd == '☆☆☆' %}selected{% endif %}>☆☆☆
                    </option>
                    <option value="☆☆☆☆"
                            {% if cus.xyd == '☆☆☆☆' %}selected{% endif %}>☆☆☆☆
                    </option>
                    <option value="☆☆☆☆☆"
                            {% if cus.xyd == '☆☆☆☆☆' %}selected{% endif %}>☆☆☆☆☆
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">邮编</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="postCode"
                       value="{% if cus.postCode %}{{ cus.postCode }}{% endif %}"
                       placeholder="请输入客户邮编">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="phone" lay-verify="required"
                       value="{% if cus.phone %}{{ cus.phone }}{% endif %}"
                       placeholder="请输入客户联系电话">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">客户地址</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="address"
                       value="{% if cus.address %}{{ cus.address }}{% endif %}"
                       placeholder="请输入客户地址">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">传真</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="fax" value="{% if cus.fax %}{{ cus.fax }}{% endif %}"
                       placeholder="请输入客户传真">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">网站</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="web_url"
                       value="{% if cus.web_url %}{{ cus.web_url }}{% endif %}"
                       placeholder="请输入客户网站地址">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">注册资金</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="registered_capital" value="{% if cus.registered_capital %}{{ cus.registered_capital }}{% endif %}"
                       placeholder="请输入注册资金">
            </div>
        </div>
    </div>


    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">开户行</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="bank" value="{% if cus.bank %}{{ cus.bank }}{% endif %}" placeholder="请输入客户开户行">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">开户账号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="bank_number" value="{% if cus.bank_number %}{{ cus.bank_number }}{% endif %}" placeholder="请输入开户账号">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">
        <div class="layui-col-xs6">
            <label class="layui-form-label">国税</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="the_irs"
                       value="{% if cus.the_irs %}{{ cus.the_irs }}{% endif %}"
                       placeholder="请输入国税">
            </div>
        </div>
        <div class="layui-col-xs6">
            <label class="layui-form-label">地税</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="land_tax"
                       value="{% if cus.land_tax %}{{ cus.land_tax }}{% endif %}"
                       placeholder="请输入地税">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row">

        <div class="layui-col-xs6">
            <label class="layui-form-label">年营业额</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input"
                       name="annual_turnover" value="{% if cus.annual_turnover %}{{ cus.annual_turnover }}{% endif %}"
                       placeholder="请输入客户年营业额">
            </div>
        </div>
    </div>


    <br/>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-lg" lay-submit=""
                    lay-filter="addOrUpdateCustomer">确认
            </button>
            <button id="closeBtn" type="button"
                    class="layui-btn layui-btn-lg layui-btn-normal">取消
            </button>
        </div>
    </div>
</form>
{% csrf_token %}
<script src="{% static 'js/system/login/jquery.min.js' %}"
        charset="utf-8"></script>
<script src="{% static 'js/system/login/jquery.cookie.min.js' %}"
        charset="utf-8"></script>
<script src="{% static 'lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        /**
         * 表单 submit 监听
         */
        form.on('submit(addOrUpdateCustomer)', function (data) {
            // 提交数据时的加载层 （https://layer.layui.com/）
            var index = top.layer.msg("数据提交中,请稍后...", {
                icon: 16, // 图标
                time: false, // 不关闭
                shade: 0.8 // 设置遮罩的透明度
            });
            // 得到所有的表单元素的值
            var formData = data.field;
            console.log(formData);
            // 请求的地址

            var url = '{% url 'customer:AddCuster' %}';
            $.post(url, formData, function (result) {
                // 判断操作是否执行成功 200=成功
                if (result.code == 200) {
                    // 成功
                    // 提示成功
                    top.layer.msg("操作成功！", {icon: 6});
                    // 关闭加载层
                    top.layer.close(index);
                    // 关闭弹出层
                    layer.closeAll("iframe");
                    // 刷新父窗口，重新加载数据
                    parent.location.reload();
                } else {
                    // 失败
                    layer.msg(result.msg, {icon: 5});
                }
            });
            // 阻止表单提交
            return false;
        });
        /**
     * 加载城市名称的下拉框
     */
    $.ajax({
      type: "get",
      url: "customer/CityList/",
      data: {},
      success: function (data) {
        // console.log(data);
        // 判断返回的数据是否为空
        if (data != null) {
          // 获取隐藏域设置的客户ID
          var city_id = $("#city_id").val();
          console.log('城市id为：'+ $("#city_id").val());
          // 遍历返回的数据
          for (var i = 0; i < data.length; i++) {
            var opt = "";
            // 如果循环得到的ID与隐藏域的ID相等，则表示被选中
            if (city_id == data[i].id) {
                console.log(city_id);
                console.log(data[i].id);
              // 设置下拉选项  设置下拉选项选中
              opt = "<option value='" + data[i].id + "' selected>" + data[i].city_name + "</option>";
              $("#city_name").val(data[i].city_name);
            } else {
              // 设置下拉选项
              opt = "<option value='" + data[i].id + "'>" + data[i].city_name + "</option>";
            }

            // 将下拉项设置到下拉框中
            $("#city_name").append(opt);
          }
        }
        // 重新渲染下拉框的内容
        layui.form.render("select");
      }
    });

        /**
         * 关闭弹出层
         */
        $("#closeBtn").click(function () {
            // 当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); // 先得到当前iframe层的索引
            parent.layer.close(index); // 再执行关闭
        });
    });
</script>
</body>
</html>